<nav class="breadcrumbs">
	<a class="breadcrumb-item" ui-sref="app">Home</a>
	<a class="breadcrumb-item" ui-sref="app.artists({id: 0})">Artists</a></a>
	<a class="breadcrumb-item" ui-sref="app.shop">Shop</a>
	<a class="breadcrumb-item active" ui-sref-="#">Social</a>
</div>
<div class="container">
	<!-- row 3 jumbotron -->
	<section class="jumbotron jumbotronwidth vertical-center col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="container social-lg">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="https://www.facebook.com/steadfasttattooatx/">
						<img src="img/icons/facebook_ico.png" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="https://www.instagram.com/steadfasttattooatx/?hl=en">
						<img src="img/icons/instagram_ico.png" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="emailto:steadfastt@gmail.com">
						<img src="img/icons/email_ico.png" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="http://maps.google.com/?q=11657 Research Blvd #105, Texas, Austin, 78759">
						<img src="img/icons/map_ico.png" class="img-responsive"></a>
				</div>
			</div>
		</div>
		<img src="img/sf_bat.jpg" class="img-responsive img-rounded hidden-xs hidden-sm bat">
		<h2>(512) 707-6966</h2>
	</section>
</div>
