<!-- row 1 -->
<div>
	<div class="container">
		<header class="row container">
			<div class="header col-lg-1 col-md-1 col-sm-1 col-xs-1" >
				<h1><img src="img/sf_logo.png" class="img-responsive"></h1>
			</div>
		</header>
	</div>

	<div class="navbar navbar-inverse" role="navigation"><!-- navbar -->
	    <button class="btn btn-navbar navbar-inverse hidden-lg hidden-md" ng-click="isCollapsed = !isCollapsed">
				Artists
	    </button>
			<div class="desktop-menu hidden-sm hidden-xs sm-col-md-3">
				<a class="brand" ui-sref="app.artists({id: 0})">Pete</a>
				<a class="brand" ui-sref="app.artists({id: 1})">Noah</a>
				<a class="brand" ui-sref="app.artists({id: 2})">Randie</a>
			</div>
			<div>
	      <ul class="nav" ng-click="isCollapsed = !isCollapsed" uib-collapse="!isCollapsed" >
					<li ng-class="{active: stateis('app.artists')}">
						<a ui-sref="app.artists({id: 0})">
							<span class="glyphicon glyphicon-info-home"
								aria-hidden="true"></span>Pete Gilcrease</a></li>
					<li ng-class="{active: stateis('app.artists')}">
						<a ui-sref="app.artists({id: 1})">
							<span class="glyphicon glyphicon-info-home"
								aria-hidden="true"></span>Noah Chamberlain</a></li>
					<li ng-class="{active: stateis('app.artists')}">
						<a ui-sref="app.artists({id: 2})">
							<span class="glyphicon glyphicon-info-home"
								aria-hidden="true"></span>Randie</a></li>
	      </ul>
	    </div>
	</div><!--navbar -->
</div>
